*, html{
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
}

a{
	text-decoration: none;
	color: unset !important;
	background-color: unset !important;
}

.green{
	color: green;
}

.no-click{
	pointer-events: none;
}

.container{
	width: 100%;
	height: 100vh;
}

.content{
	background-color: #333;
	color: black;
	text-align: center;
	min-height: 100vh;
}

.header{
	text-align: center;
	background-color: rgba(0, 0, 0, 0.9);
	padding: 6px 0 10px;
	box-shadow: 0 0 3px rgba(0, 0, 0, 1);
	color: #fff;
	overflow: hidden;
}

.nav-list{
	display: inline-block;
	list-style-type: none;
}

.nav-list li{
	display: inline-block;
	padding: 4px 2px;
	cursor: pointer;
}

.nav-sel{
	border-bottom: 2px solid #0099cc;
}

.nav-list-underline{
	width: 45%;
	height: 1.5px;
	background-color: #0099cc;
	transition: .1s ease-in-out;
}

.type-sel-underline{
	margin-top: 4px;
	margin-left: 4%;
	width: 64px;
	height: 1.5px;
	background-color: #0099cc;
	transition: .1s ease-in-out;
}

.type-sel-menu{
	display: inline-block;
}

.type-sel-menu li{
	cursor: pointer;
}

#poetry-input{
	width: 100%;
	height: 100vh;
	border: none;
	font-size: 24px;
	resize: none;
	padding: 8px 16px;
	display: none;
}

.side-menu{
	list-style-type: none;
	padding: 3px 0;
	float: right;
	position: absolute;
	right: 4px;
	top: 2px;
}

.side-menu li{
	display: inline-block;
	padding: 4px 2px;
	cursor: pointer;
}

.login-container{
	position: fixed;
	top: 42px;
	right: 42px;
	z-index: 99;
	display: none;
}

.arrow{
	margin: 0px auto;
	width: 0px;
	height: 0px;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid white;
	position: relative;
	background-color: transparent;
	top: 1px;
}

.login-form{
	background-color: white;
	padding: 4px;
	border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}
}

.login-form table{
	background-color: white;
}

.login-form table td{
	margin: 2px 0;
	background-color: #fff;
}
.login-input{
	background-color: white;
	color: black;
	padding: 2px;
	border-radius: 3px;
	border: 1px solid rgba(0, 0, 0, 0.4);
}

.login-password{
	color: black;
	padding: 2px;
	border-radius: 3px;
	border: 1px solid #484444;
}

#login-submit{
	text-align: center;
	padding: 4px;
	background-color: rgb(36, 136, 140);
	text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
	cursor: pointer;
	color: white;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;  
  -khtml-user-select: none;    
  -moz-user-select: none;     
  -ms-user-select: none;      
  user-select: none;                                   
}

.word-anime{
	animation-play-state: paused;
}

.sound-anime{
	animation-play-state: paused;
}

.show-login-menu{
	border: 1px solid white;
	border-radius: 3px;
	padding: 4px !important;
	margin-right: 4px;
}

.register-btn{
	border-radius: 3px;
	background-color: rgb(255, 18, 0);
	padding: 4px !important;
	margin-right: 4px;
	border: 1px solid rgb(255, 18, 0);
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}

.type-sel-menu{
	height: unset;
	list-style-type: none;
	padding-top: 16px;
}

.type-sel-menu li{
	display: inline;
	font-weight: 800;
	margin: 0 32px;
	color: #d0d8db;
}

.register-container{
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
}

.register-container *{
	height: unset;
	background-color: transparent;
}

.register-top-container{
	margin: 0px auto;
	max-width: 1024px;
	padding: 24px;
}

.home-btn{
	display: inline-block;
	color: white;
	border: 1px solid white;
	border-radius: 3px;
	text-shadow: 0 0 1px rgba(), 0, 0, 0.2);
	font-weight: 500;
	padding: 4px 8px;
	float: right;
	cursor: pointer;
	background-color: rgba(255, 255, 255, 0.1);
}

.register-form{
	max-width: 528px;
	margin: 0 auto;
}

.input-top{
	display: block;
	background-color: white;
	width: 100%;
	padding: 8px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-bottom: none;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	font-size: 22px;
	clear: both;
}

.input-middle{
	display: block;
	background-color: white;
	width: 100%;
	padding: 8px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	font-size: 22px;
	clear: both;
}

.input-bottom{
	display: block;
	background-color: white;
	width: 100%;
	padding: 8px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-top: none;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	font-size: 22px;
	clear: both;
}

.register-submit-btn{
	background-color: #0099cc;
	font-size: 28px;
	color: white;
	margin: 16px auto;
	padding: 8px;
	border-radius: 3px;
	cursor: pointer;
	transition: background-color 0.2s ease;
}

.register-submit-btn:hover{
	background-color: #21b6e7;
}

.welcome-message-container{
	color: white;
	text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.6);
	font-size: 38px;
	text-align: center;
	max-width: 512px;
	margin: 64px auto 16px;
}

.already-registered{
	height: unset;
	background-color: transparent;
	color: white;
	text-shadow: 0 0 3px rgba(0, 0, 0, 0.85);
}

.login-link{
	color:rgb(55, 240, 58);
	font-weight:bold;
	text-shadow: 0px 0px 3px rgb(25, 125, 26);
	cursor: pointer;
}

.opaque-box{
	background-color: rgba(0, 0, 0, 0.7);
	padding: 8px;
	border-radius: 5px;
}

.rotate-y-start{
	animation-name: RotateYStart;
	animation-duration: .25s;
	animation-fill-mode: forwards;
}

.rotate-y-end{
	animation-name: RotateYEnd;
	animation-duration: .25s;
	animation-fill-mode: forwards;
}

.user-container{
	display: inline-block;
	cursor: pointer;
	position: relative;
	top: 4px;
	background-color: rgb(38, 36, 36);
	border: 1px solid rgb(51, 48, 48);
	border-radius: 2px;
	right: 8px;
	padding: 4px;
	min-width: 92px;
}

.username{
	display: inline-block;
	padding: 0 4px;
	font-size: 14px;
}

.drop-triangle{
	display: inline-block;
	width: 0px;
	height: 0px;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 6px solid white;
}

.user-dd-menu{
	height: unset;
	display: inline-block;
	display: none;
	background-color: white;
	color: blue;
	border-radius: 2px;
	border: 1px solid #efefef;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
	margin-right: 6px;
	font-size: 14px;
	float: right;
	position: absolute;
	right: 6px;
	top: 46px;
	width: 98px;
	z-index: 99;
}

.user-dd-menu ul{
	list-style-type: none;
	height: unset;
}

.user-dd-menu ul li{
	height: unset;
	border-bottom: 1px solid #efefef;
	border-bottom: 1px solid #ddd;
	background-color: white;
	padding: 4px;
	font-size: 14px;
	color: #0099cc;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}

.words-content-container{
	padding: 8px;
	margin: 0 auto;
	max-width: 1024px;
}

.sounds-content-container{
	display: none;
	padding: 8px;
	margin: 0 auto;
	max-width: 764px;
}

.new-upload-btn{
    display: inline-block;
    color: white;
    border: 1px solid rgb(33, 31, 31);
    height: unset;
    padding: 4px;
    border-radius: 3px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
    font-size: 14px;
	float: right;
	cursor: pointer;
	transition: background-color 0.1s linear, color 0.1s linear;
}

.new-upload-btn:hover{
	background-color: white;
	color: black;
}

.preloader-wrapper{
	clear: both;
	margin: 16px auto;
}

.preloader-icon{
	display: inline-block;
	color: white;
	font-size: 32px;
}

.new-words-container{
	display: none;
	height: 100vh;
	padding: 8px;
	max-width: 764px;
	margin: 0px auto;
}

.word-upload-back{
	color: white;
	float: left;
	margin: 8px auto 16px;
	padding: 6px 11px 0px 4px;
	border-radius: 3px;
	cursor: pointer;
}

.new-word-title{
	display: block;
	clear: both;
	background-color: transparent;
	color: white;
	font-size: 24px;
	margin: 16px auto;
	border-radius: 5px;
	border: 1px solid #888;
	border-radius: 3px;
	padding: 8px;
	width: 100%;
}

.new-word-body{
	display: block;
	clear: both;
	min-height: 128px;
	background-color: transparent;
	color: white;
	border: 1px solid #888;
	border-radius: 3px;
	padding: 8px;
	height: 320px;
	resize: vertical;
	width: 100%;
	outline: none;
}

.new-sounds-container{
	display: none;
	padding: 8px 48px 8px 32px;
	max-width: 768px;
	height: 100vh;
	margin: 0 auto;
}

#words-gallery, #sounds-gallery{
	overflow: hidden;
	max-width: 1024px;
	margin: 32px auto;
	padding: 0 32px;
	clear: both;
	text-align: center;
}

.poem-wrapper{
	position: relative;
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.4);
	margin: 16px 8px;
	padding: 8px;
	width: 192px;
	height: 288px;
	border-radius: 3px;
	color: white;
}

.poem-title{
	font-size: 20px;
	text-overflow: ellipsis;
	text-align: left;
	margin: 8px auto;
}

.poem-text{
	word-wrap: break-word;
	color: rgb(180, 180, 180);
	margin: 8px auto;
	text-align: left;
	height: 160px;
	overflow: hidden;
}

.sticky-bottom{
	position: absolute;
	bottom: 0;
	margin: 8px;
}

.view-more{
	display: inline-block;
	font-size: 12px;
	padding: 4px;
	margin: 4px;
	border: 1px solid white;
	border-radius: 3px;
	cursor: pointer;
	transition: .1s ease-in-out;
}

.view-more:hover{
	background-color: white;
	color: black;
}

.poem-author{
	font-size: 12px;
	color: #efefef;
	margin: 4px;
}

.submit-btn{
	background-color: #0099cc;
	font-size: 28px;
	color: white;
}

.poem-data{
	font-size: 10px;
}

.icon-heart{
	display: inline-block;
	margin: 4px 8px;
	float: left;
}

.icon-comment{
	display: inline-block;
	margin: 4px 8px;
	float: right;
}

.full-poem-container{
	max-width: 768px;
	margin: 0px auto;
	background-color: rgba(0, 0, 0, 0.4);
	overflow: hidden;
	padding: 16px;
	color: white;
	border-radius: 3px;
}

.full-poem-title{
	font-size: 28px;
	margin: 8px auto;
	text-align: left;
}

.full-poem-body{
	margin: 8px;
	text-align: left;
}

.full-poem-data{
	float: left;
	font-size: 12px;
}

.input-comment-container{
	max-width: 796px;
	margin: 0px auto;
	padding: 16px 0;
}

.comment-textarea{
	width: calc(100% - 16px);
	height: 92px;
	resize: vertical;
	background-color: rgba(0, 0, 0, 0.4);
	color: white;
	border: 1px solid #555;
	border-radius: 1px;
	padding: 8px;
}

#poem-comments-container{
	clear: both;
	padding: 8px;
	max-width: 768px;
	margin: 0px auto;
}

.comment-wrapper{
	background-color: rgba(0, 0, 0, 0.4);
	color: white;
	margin: 16px auto;
	padding: 8px;
	font-size: 12px;
	text-align: left;
}

.comment-text{
	margin: 8px;
}

.comment-data{
	margin: 12px auto 4px;
}

#upload-file-container{
    position: relative;
    overflow: hidden;
    margin: 10px;
	background-color: #0099cc;
	color: white;
	display: inline-block;
	padding: 6px;
	border-radius: 3px;
	float: left;
	clear: both;
	margin: 0 8px 16px;
	cursor: pointer;
	transition: background-color .2s;
}

#upload-file-container:hover{
	background-color: #23c8ff;
}

#upload-file-container input{
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.progress-bar-container{
	background-color: rgb(95, 92, 92);
	box-shadow: 0px -1px 1px rgba(255, 255, 255, 0.3) inset;
	margin: 16px;
	padding: 6px;
	border-radius: 25px;
}

#progress-bar{
	display: block;
	height: 16px;
	background-color: rgb(61, 189, 61);
	border-radius: 8px;
	transition: width .1s;
}

.my-sounds-title{
	max-width: 1024px;
	margin: 0 auto;
	padding-top: 16px;
	color: white;
	font-size: 32px;
	text-align: left;
}

.my-sounds-container{
	max-width: 1024px;
	margin: 0 auto;
	padding: 16px;
	color: white;
}

.user-sound-container{
	background-color: rgba(0, 0, 0, 0.4);
	margin: 16px auto;
	overflow: hidden;
	padding: 8px;
	border-radius: 3px;
}

.user-sound-title{
	color: #0099cc;
	text-align: left;
	font-size: 24px;
}

.user-sound-description{
	padding: 16px;
	text-align: left;
}

.user-sound-timestamp{
	font-size: 10px;
	float: left;
	padding-left: 24px;
	padding-bottom: 10px;
}

.user-sound-data{
	clear: both;
	font-size: 10px;
	text-align: left;
	padding: 6px 0 0 16px;
}

.user-sound-data div, .play-sound-data div{
	display: inline-block;
	margin: 0 8px 0 0;
	float: none;
}

.user-sound-title a:hover{
	text-decoration: underline;
}

.play-sound-container{
	max-width: 768px;
	background-color: rgba(0, 0, 0, 0.4);
	margin: 0 auto;
	padding: 16px;
	color: white;
	border-radius: 3px;
	overflow: hidden;
}

.play-sound-title{
	float: left;
	font-size: 32px;
}

.play-sound-description{
	clear: both;
	float: left;
	padding: 8px 16px;
	font-size: 14px;
}

.play-audio-timestamp{
	clear: both;
	float: left;
	font-size: 12px;
	padding-left: 12px;
}

.play-audio-wrapper{
	clear: both;
	margin-top: 32px;
}

.play-sound-data{
	clear: both;
	font-size: 12px;
	padding: 8px;
}

.audio-comments-wrapper{
    clear: both;
    padding: 8px;
    max-width: 768px;
    margin: 0px auto;
}

.sound-play-btn{
	width: 32px;
	height: 32px;
	border: 1px solid white;
	border-radius: 50%;
	margin: 0 auto;
	cursor: pointer;
}

.play-triangle{
	width: 0;
	height: 0;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-left: 10px solid white;
	position: relative;
	left: 12px;
	top: 10px;
}

.loadmore-btn{
	display: inline-block;
	margin: 0 auto 24px;
	padding: 8px;
	border: 1px solid white;
	border-radius: 3px;
	color: white;
	cursor: pointer;
	transition: background-color 0.1s linear, color 0.1s linear;
}

.loadmore-btn:hover{
	background-color: white;
	color: black;
}

.icon-heart{
	cursor: pointer;
}